body {
    background: white;
    margin: 10px;
    /*min-width: 54vh;*/
    /*max-height: 60vh;*/
    width: 210px;
}

.timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 20px;
}

.timer__part {
    font-size: 35px;
    font-weight: bold;
}

.timer__btn {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #8208e6;
    cursor: pointer;
}

.timer__btn--start {
    background: #00b84c;
}

.timer__btn--stop {
    background: #ff0256;
}

.note__btn {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #8208e6;
    cursor: pointer;
}

.music__btn {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #8208e6;
    cursor: pointer;
}

.setting__btn {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border-radius: 50%;
    border: none;
    color: white;
    background: gray;
    cursor: pointer;
}

.info__btn {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 50%;
    border: none;
    color: white;
    background: gray;
    cursor: pointer;
}

.music {
    height: 16vh;
    width: 100%;
    font-family: sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
}
